#!/bin/bash
export SEALED_SECRETS_CONTROLLER_NAMESPACE=sealed-secrets
export SEALED_SECRETS_CONTROLLER_NAME=seled-secrets-sealed-secrets
export SEALED_SECRETS_CERT=~/.kube/sealed-secrets.pem
export SEALED_SECRETS_FORMAT=yaml
